@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.4;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}

main {
  min-height: 600px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  height: 400px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper nav {
  position: absolute;
  min-width: 350px;
  padding: 1.5em;
  font-size: 1.7em;
  text-transform: uppercase;
  background: red;
  opacity: 0.8;
  z-index: 2;
}

.wrapper nav ul {
  display: grid;
  gap: 0.3em;
}

.wrapper nav ul li {
  cursor: pointer;
}

.wrapper .slider {
  width: 60%;
  margin: auto;
  position: relative;
}

.wrapper .slider .image {
  width: 100%;
  height: 400px;
  background: url(../imgs/image1.jpg);
  background-size: cover;
  background-position: center;
}

.wrapper .slider .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -2em;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5em;

  color: red;
}

.wrapper .slider .text p:last-child {
  font-size: 1.3rem;
  color: #000;
  text-align: right;
  letter-spacing: 3px;
}
